@font-face {
    font-family: "Omni"; font-weight:normal;
    src:url(res/font/Omni_020.otf) format('woff'),
    url(res/font/Omni_020.woff) format('opentype');
}

    @font-face {
    font-family: "Omni"; font-weight:bold;
    src:url(res/font/Omni_030.otf) format('woff'),
    url(res/font/Omni_030.woff) format('opentype');
}