.form_warp {
    & > dl {
        margin-bottom:10px;
    }

    #title {
        width:100%;
        max-width:600px;
    }
    #type {

    }
    #sumry {
        width:100%;
        max-width:600px;
        height:100px;
    }
    & > button {
        width:100%;
        max-width:600px;
        background:#000;
        color:#fff;
        height:2.5em;
        border-radius: 3px;
    }
}