.portfolio {
    .portfolioTab {
        margin:10px 0;
        button {
            display:inline-block;
            padding:12px 20px;
            font-size: 1em;

            &.active {
                background:#000;
                color:#fff;
                border-radius: 5px;
            }
        }
    }


    .portfolioList {
        display:flex;
        flex-flow: row wrap;
        opacity:0;
        transition: all 0.3s;

        &.load {
            opacity: 1;
        }
    }
}