.portfolioListItem {
    opacity: 0;
    transform: scale(0);
    margin: 0 5px 10px;
    transition: all 0.2s;

    &.load {
        opacity: 1;
        transform: scale(1);
    }
    
    & > button {
        display:block;
        position: relative;
        border-radius:5px;
        overflow:hidden;
        transition: all 0.2s;

        &:hover, &:focus {
            transform: scale(1.05);
            box-shadow:5px 5px 7px rgba(0,0,0,.3);
            z-index: 1;
        }
    }

    .thumb {
        height:200px;
        img {
            height:100%;
        }
    }

    .info {
        position: absolute;
        display:none;
    }
}

.axiosView {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,.8);
    z-index:9999;
    padding:20px;
    opacity: 0;
    transition: all 0.2s;

    &.load {
        opacity:1;

        & > div {
            transform: scale(1);
        }
    }

    & > div {
        background:#fff;
        padding:10px;
        border-radius:10px;
        margin:0 auto;
        max-width:800px;
        height:100%;
        position: relative;
        transform: scale(0);
        transition: all 0.2s;
    }

    .close {
        position: absolute;
        top:-10px;
        right:-10px;
        width:36px;
        height:36px;
        background:#000;
        border:3px solid #fff;
        text-indent:-9999px;
        border-radius: 50%;
        transition: all 0.3s;

        &:before {
            content:"";
            display:block;
            position: absolute;
            width:60%;
            height:1px;
            background:#fff;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: all 0.3s;
        }

        &:after {
            content:"";
            display:block;
            position: absolute;
            width:60%;
            height:1px;
            background:#fff;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: all 0.3s;
        }

    }

    .img {
        position: absolute;
        top:10px;
        left:10px;
        bottom:140px;
        right:10px;
        border-radius: 5px;
        overflow: auto;

        img {
            max-width:100%;
            vertical-align: top;
        }
    }
    
    .txt {
        position: absolute;
        bottom:10px;
        left:10px;
        right:10px;
        height:120px;
        overflow:hidden;

        .tit {
            font-size:1em;
            font-weight:bold;
            .type {
                display:inline-block;
                background:#000;
                color:#fff;
                font-size:0.8em;
                padding:4px 5px;
                line-height: 1;
                border-radius: 3px;
                margin-right:5px;
            }
        }
        .date {
            font-size:0.9em;
        }

        .rating {
            display:flex;
            flex-flow: row nowrap;
            font-size:0.9em;
            & > span {
                width:25%;
            }
        }
        
        .sumry {
            font-size: 0.9em;
        }
    }

    .site {
        position: absolute;
        font-size:0.9em;
        font-weight:bold;
        background:#ddd;
        color:#000;
        padding:5px 10px 5px 36px;
        border-radius: 3px;
        bottom:0;
        right:0;

        &:before {
            content:"";
            display: block;
            width:16px;
            height:16px;
            background:url(../../res/images/new_window.png) no-repeat center center / cover;
            position: absolute;
            top:calc(50% - 8px);
            left:10px;
        }
    }
}