* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
ul,li,ol {
  list-style:
  none;
}
a {
  color:#000;
  text-decoration: none;
}

button {
  background:transparent;
  border:0;
  cursor: pointer;
}

input,
select {
  border:0;
  background:#ddd;
  border-radius: 3px;
  height:2.5em;
  padding:0 10px;
  vertical-align: top;
}

textarea {
  border:0;
  background: #ddd;
  border-radius: 3px;
  padding: 10px;
  vertical-align: top;
  resize: none;
}

body {
  font-size:18px;
  color:#000; 
  font-family:"NanumSquare"; 
  line-height:1.5; 
  //background:url(./res/images/background.jpg) no-repeat center center / cover;
  background-attachment: fixed;
}

.hidden {
  position: absolute;
  text-indent:-9999px;
  font-size:0;
  left:-9999px;
}

#grid {
  position: fixed;
  z-index: 0;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index:-1;
  
  .gridItem {
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    transition: all 0.2s;
  }
}

.loading {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.container {
  padding:60px 20px 40px 200px;
  // max-width:1200px;
  // margin:50px auto;
  .contents {
    height:100%;
    opacity:0;
    position: relative;
    top:20px;
    transition: all 0.5s ease-in;
  }
  
  .contents.load {
      opacity:1;
      top:0;
  }

  .tit:first-of-type {
    font-size:1.6em;
  }
}

.toast {
  position: fixed;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background:rgba(0,0,0,0.8);
  color:#fff;
  font-size:0.7em;
  padding:15px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border-radius:10px;
  opacity:0;
  transition: all 0.3s;

  &.load {
    bottom:20px;
    opacity:1;
  }
}

@media all and (max-width:768px){
  .container {
    margin-top:46px;
    padding-left:0;
    padding:10px;
  }
}

