* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
ul,li,ol {
  list-style:
  none;
}
a {
  color:#333;
  text-decoration: none;
}

body {
  font-size:16px;
  color:#333; 
  // font-family:"Omni"; 
  line-height:1.5; 
  //background:url(./res/images/background.jpg) no-repeat center center / cover;
  background-attachment: fixed;
}

.hidden {
  position: absolute;
  text-indent:-9999px;
  font-size:0;
  left:-9999px;
}

.container {
  // max-width:1200px;
  // margin:50px auto;
}

.contents {
  height:100%;
  overflow: hidden;
  opacity:0;
  position: relative;
  top:20px;
  transition: all 0.5s ease-in;
}

.contents.load {
    opacity:1;
    top:0;
}