.loginWrap {
    position: fixed;
    top:0;
    right:0;
    margin:10px 10px 0 0;
    z-index:9999;

    & > div {
        & > button {
            width:40px;
            height:40px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: top;

            & > img {
                max-width:100%;
                max-height:100%;
            }
        
        }
        &.login {
            & > button {
                background:rgba(255,255,255,.8);
            }
        }

        &:after {
            content:"";
            display:block;
            padding:5px 10px;
            background:#000;
            border-radius: 5px;
            color:#fff;
            font-size:0.8em;
            position:absolute;
            top:50%;
            right:calc(100% - 5px);
            transform: translateY(-50%);
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &.login:after {
            content:"Login";
        }

        &.logout:after {
            content:"Logout";
        }

        &:hover:after {
            opacity: 1;
            right:calc(100% + 5px);
        }
    }
    
}