.footer {
    position: fixed;
    bottom:0;
    left:0; 
    right:0; 
    height:50px; 
    text-align: center;

    p {
        margin:20px 0 0;
        font-size: 0.8em;
        color:#333;
    }
}