header {
    position: fixed;
    left:0;
    top:50%;
    transform: translateY(-50%);
    z-index:9999;

    a {
        display: block;
        font-size: 1em;
        font-weight:bold;
        color:#000;
        margin: 30px 15px;
        position: relative;
    }

    a:before {
        content:"";
        display:inline-block;
        width:0;
        height:3px;
        vertical-align: middle;
        background:#000;
        margin-right:5px;
        transition: all 0.2s;
    }

    a.active:before, a:hover:before, a:focus:before {
        width:30px;
    }
}